// app global css in SCSS form
@font-face {
  font-family: "Barlow-Regular";
  src: url("src/fonts/BarlowSemiCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Bold";
  src: url("src/fonts/BarlowSemiCondensed-Bold.ttf") format("truetype");
}

* {
  font-family: "Barlow-Regular", sans-serif;
}

.container {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.barlow-bold {
  font-family: "Barlow-Bold", sans-serif;
}

.scissors-container {
  padding: 28px;
  border-radius: 50%;
  background: radial-gradient(circle, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: inset 0px -10px 2px hsl(40, 82%, 33%);
}

.rock-container {
  padding: 28px;
  border-radius: 50%;
  background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: inset 0px -10px 2px hsl(349, 70%, 37%);
}

.paper-container {
  padding: 28px;
  border-radius: 50%;
  background: radial-gradient(circle, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: inset 0px -10px 2px rgb(40, 65, 185);
}

.scissors {
  box-shadow: inset 0px 10px 2px rgb(209, 209, 209);
}

.rock {
  box-shadow: inset 0px 10px 2px rgb(209, 209, 209);
}

.paper {
  box-shadow: inset 0px 10px 2px rgb(209, 209, 209);
}

.triangle-bg {
  background-image: url("../assets/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.empty-container {
  border-radius: 50%;
  border: 48px solid transparent;
}

.empty-space {
  width: 250px;
  height: 250px;
  border: 60px solid transparent;
  border-radius: 50%;
  margin-bottom: 50px;
  background-color: hsl(0, 0%, 0%, 0.2);
}

.score-container {
  width: 8rem;
  background-color: white;
  border-radius: 10px;
}

.header {
  width: 800px;
  border: 2px solid hsl(217, 16%, 45%);
  border-radius: 10px;
}

.reset-btn {
  position: absolute;
  right: 35px;
  top: 40px;
  z-index: 1000;
  letter-spacing: 1px;
}

.rules-btn {
  position: absolute;
  right: 35px;
  bottom: 40px;
  z-index: 1000;
  letter-spacing: 1px;
  padding: 0px 38px 0px 38px;
  border-radius: 8px;
}

.rock-rules {
  border: 25px solid rgb(174, 178, 189);
}

body.screen--xs {
  .scissors-container {
    padding: 18px;
    border-radius: 50%;
    background: radial-gradient(circle, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: inset 0px -10px 2px hsl(40, 82%, 33%);
  }

  .rock-container {
    padding: 18px;
    border-radius: 50%;
    background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: inset 0px -10px 2px hsl(349, 70%, 37%);
  }

  .paper-container {
    padding: 18px;
    border-radius: 50%;
    background: radial-gradient(circle, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: inset 0px -10px 2px rgb(40, 65, 185);
  }

  .triangle-bg {
    background-image: url("images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 220px;
    margin-bottom: 40%;
  }

  .rules-btn {
    position: absolute;
    right: 35%;
    z-index: 1000;
    letter-spacing: 1px;
    padding: 0px 38px 0px 38px;
    border-radius: 8px;
  }

  .reset-btn {
    position: absolute;
    right: 3%;
    top: 0px;
    z-index: 1000;
    letter-spacing: 1px;
  }

  .score-container {
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 10px;
  }

  .empty-space {
    width: 20px;
    height: 20px;
    border: 43px solid transparent;
    border-radius: 50%;
    background-color: hsl(0, 0%, 0%, 0.2);
  }

  .empty-container {
    border-radius: 50%;
    border: 1px solid transparent;
    margin-top: 14px;
  }

  .result {
    position: absolute;
    bottom: 20%;
  }

  .mobile-picks {
    margin-top: 25%;
  }
}
